

/*===========================
    14.ABOUT PAGE css 
===========================*/




.about-srvices-area{
	& .section-title{
		padding-bottom: 10px;
	}
	& .about-services{
		& .title{
			margin-top: 33px;

		}
		& p{
			padding-top: 16px;
		}
	}
}


.about-store-area{
	position: relative;
	&::before{
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		height: 100%;
		min-width: 775px;
		background-image: url(../images/about-store-bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media #{$laptop} {
			min-width: 592px;
		}
		@media #{$lg} {
			min-width: 450px;
		}
		@media #{$md} {
			min-width: 0;
		}
		@media #{$xs} {
			min-width: 0;
		}
	}
	& .about-store-content{
		& > .title{
			font-size: 30px;
			text-transform: uppercase;
			color: $black;
			position: relative;
			padding-top: 15px;
			padding-bottom: 24px;
			&::before{
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				height: 2px;
				width: 100px;
				background: $black;
			}
		}
		& .store-item{
			padding-left: 120px;
			position: relative;
			@media #{$xs} {
				padding-left: 0;
			}
			@media #{$sm} {
				padding-left: 120px;
			}
			& img{
				position: absolute;
				left: 0;
				top: 18px;
				@media #{$xs} {
					position: static;
					padding-bottom: 20px;
				}
				@media #{$sm} {
					position: absolute;
					padding-bottom: 0;
				}
			}
			& .title{
				padding-bottom: 16px;
			}
		}
	}
}




.about-team-area{
	& .section-title{
		padding-bottom: 10px;
	}
	& .team-item{
		& .team-thumb{
			position: relative;
			& .social{
				position: absolute;
				bottom: 0px;
				left: 0;
				width: 100%;
				background-color: rgba(0, 81, 210,.8);
				text-align: center;
				opacity: 0;
				@include transition(0.3s);
				& ul{
					padding: 18px 0;
					& li{
						display: inline-block;
						& a{
							color: $white;
							font-size: 15px;
							margin: 0 7px;
						}
					}
				}
			}
			& img{
				width: 100%;
			}
		}
		& .team-content{
			padding-top: 21px;
			& a{
				font-size: 22px;
				font-weight: 500;
				color: $black;
				padding-bottom: 3px;
				display: block;
			}
		}
		&:hover{
			& .team-thumb{
				& .social{
					opacity: 1;
					bottom: 20px;
				}
			}
		}
	}



}

