

/*===========================
    9.BLOG css 
===========================*/







.blog-area{
	& .blog-item{
		& .blog-thumb{
			& img{
				width: 100%;
			}
		}
		.blog-content{
			padding-top: 21px;
			& ul{
				& li{
					display: inline-block;
					font-size: 13px;
					color: $text-color; 
					text-transform: uppercase;
					& i{
						padding-right: 5px;
					}
					&:first-child{
						margin-right: 22px;
					}
				}
			}
			& .title{
				padding-top: 14px;
				padding-bottom: 16px;
				& a{
					font-size: 22px;
					color: $black;
					font-weight: 500;
					@include transition(0.3s);
					@media #{$lg} {
						font-size: 18px;
					}
					@media #{$xs} {
						font-size: 20px;
					}
					&:hover{
						color: $theme-color;
					}
				}
			}
			& > a{
				font-size: 13px;
				margin-top: 15px;
				font-weight: 500;
				text-transform: uppercase;
				color: $black;
				@include transition(0.3s);
				&:hover{
					color: $theme-color;
				}
				& i{
					padding-left: 5px;
				}
			}
		}
	}
}




.subscribe-area{
	background: $grey;
	padding: 120px 0;
	& .subscribe-item{
		& .title{
			font-size: 30px;
			text-transform: uppercase;
			color: $black;
			padding-bottom: 13px;
			@media #{$lg} {
				font-size: 24px;
			}
			@media #{$xs} {
				font-size: 24px;
			}

		}
		& .input-box{
			margin-top: 65px;
			position: relative;
			& input{
				width: 100%;
				line-height: 50px;
				border: 0;
				border-bottom: 1px  solid #a6a6a6;
				background-color: transparent;
				text-transform: uppercase;
				color: $text-color;
				font-size: 12px;
				&::placeholder{
					opacity: 1;
					color: $text-color;
				}
			}
			& button{
				position: absolute;
				right: 0;
				bottom: 0;
				line-height: 60px;
				padding: 0 50px;
				@media #{$xs} {
					padding: 0 40px;
				}

			}
		}
	}
}