

/*===========================
    13.BLOG LIST css 
===========================*/





.blog-list-area{
	.blog-sidebar{
		& .blog-search-item{
			& .input-box{
				position: relative;
				& button{
					position: absolute;
					right: 20px;
					top: 55%;
					transform: translateY(-50%);
					border: 0;
					background-color: transparent;
					color: #999;
				}
				& input{
					width: 100%;
					line-height: 60px;
					border: 1px solid #dddedf;
					padding-left: 20px;
					font-size: 13px;
					color: #999999;
					&::placeholder{
						opacity: 1;
						color: #999999;
						text-transform: uppercase;

					}
				}
			}
		}
		& .blog-categories{
			& .blog-sidebar-title{
				padding-top: 14px;
				padding-bottom: 14px;
				& .title{
					font-size: 22px;
					font-weight: 500;
					text-transform: capitalize;
					position: relative;
					display: inline-block;
					&::before{
						position: absolute;
						content: '';
						right: -90px;
						top: 50%;
						transform: translateY(-50%);
						height: 2px;
						width: 80px;
						background: $black;
					}
				}
			}
			& .blog-categories-list{
				& ul{
					& li{
						& a{
							line-height: 40px;
							color: #5a5a5a;
						}
					}
				}
			}
			& .blog-recent-post{
				& .item{
					position: relative;
					margin-bottom: 40px;
					&:last-child{
						margin-bottom: 0;
					}
					& img{
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						border-radius: 50%;
					}
					padding-left: 100px;
					& a{
						font-size: 18px;
						font-weight: 500;
						color: $black;
						line-height: 26px;
						@media #{$lg} {
							font-size: 14px;
							line-height: 22px;
						}
					}
					& span{
						font-size: 13px;
						color: $text-color;
						text-transform: uppercase;
						padding-top: 8px;
						display: block;
					}
				}
			}
			& .blog-tags{
				& ul{
					display: flex;
					& li{
						& a{
							line-height: 44px;
							padding: 0 32px;
							border: 1px solid #dddedf;
							margin-right: 15px;
							font-size: 13px;
							color: #6f6f6f;
							text-transform: uppercase;
							margin-top: 15px;
							@media #{$lg} {
								padding: 0 20px;
							}
							@media #{$xs} {
								padding: 0 18px;
							}
						}
						&:last-child{
							& a{
								margin-right: 0;
							}
						}
					}
				}
			}
		}
		& .blog-newsletter{
			background: #f3f3f3;
			margin-top: 50px;
			padding: 45px 30px 50px;
			& .blog-newsletter-title{
				& .title{
					font-size: 22px;
					font-weight: 500;
					text-transform: capitalize;
					position: relative;
					display: inline-block;
					margin-bottom: 24px;
					&::before{
						position: absolute;
						content: '';
						right: -90px;
						top: 50%;
						transform: translateY(-50%);
						height: 2px;
						width: 80px;
						background: $black;
					}
				}
				& .input-box{
					& input{
						width: 100%;
						line-height: 60px;
						border: 1px solid #d9d9dd;
						padding-left: 20px;
						font-size: 12px;
						color: #999;
						&::placeholder{
							opacity: 1;
							text-transform: uppercase;
							color: #999;
						}
					}
					& button{
						width: 100%;
						text-align: center;
						line-height: 60px;
						margin-top: 20px;
					}
				}
			}
		}
	}
	& .blog-list-item{
		& .blog-list-thumb{
			& img{
				width: 100%;
			}
		}
		& .blog-list-content{
			@media #{$xs} {
				margin-top: 30px;
			}
			& > span{
				line-height: 48px;
				border: 1px solid #dddedf;
				border-radius: 40px;
				padding: 0 20px;
				& span{
					color: $theme-color;
				}
			}
			& .title{
				font-size: 30px;
				line-height: 40px;
				margin-top: 22px;
				padding-bottom: 12px;
				@media #{$lg} {
					font-size: 26px;
					line-height: 35px;
				}
				@media #{$md} {
					line-height: 32px;
				}
				@media #{$xs} {
					font-size: 24px;
				}
				@media #{$sm} {
					font-size: 30px;
				}
			}
			& p{
				@media #{$lg} {
					font-size: 15px;
				}
			}
			& ul{
				margin-top: 17px;
				margin-bottom: 32px;
				& li{
					display: inline-block;
					&:first-child{
						margin-right: 20px;
					}
					& span{
						font-size: 13px;
						color: $text-color;
						text-transform: uppercase;
						& i{
							padding-right: 5px;
						}
						& span{
							color: $theme-color;
						}
					}
				}
			}
			& a{
				&.main-btn{
					line-height: 50px;
					background: $black;
					border-radius: 50px;
					border: 0;
					padding: 0 44px;
					font-weight: 500;
					&:hover{
						background: $theme-color;
						color: $white;
					}
				}
			}
		}
	}
}





.blog-grid-item{
	& .blog-grid-thumb{
		position: relative;
		z-index: 5;
		& img{
			width: 100%;
		}
	}
	& .blog-grid-content{
		position: relative;
		z-index: 6;
		background: #f3f3f3;
		margin-left: 30px;
		margin-top: -44px;
		padding: 30px;
		@include transition(0.3s);
		@media #{$xs} {
			margin-left: 15px;
			padding: 15px;
		}
		@media #{$sm} {
			margin-left: 30px;
			padding: 30px;
		}
		& span{
			font-size: 13px;
			color: $text-color;
			text-transform: uppercase;
			& span{
				color: $theme-color;
			}
		}
		& a{
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			color: $black;
			margin-top: 6px;
			margin-bottom: 19px;
			@media #{$md} {
				font-size: 17px;
				line-height: 27px;
			}
			@media #{$xs} {
				font-size: 17px;
				line-height: 27px;
			}
			@media #{$sm} {
				font-size: 20px;
				line-height: 30px;
			}
		}
		& ul{
			& li{
				display: inline-block;
				font-size: 14px;
				color: $text-color;
				padding-right: 18px;
				& i{
					padding-right: 6px;
				}
			}
		}
	}
	&:hover{
		& .blog-grid-content{
			background: $white;
			box-shadow: 0px 10px 20px 0px rgba(7, 0, 94, 0.1);

		}
	}
}










.blog-details-area{
	& .blog-details-content{
		& span{
			font-size: 13px;
			text-transform: uppercase;
			color: $text-color;
			& span{
				color: $theme-color;
			}
		}
		& > .title{
			font-size: 36px;
			line-height: 45px;
			font-weight: 500;
			color: $black;
			padding-top: 19px;
			padding-bottom: 19px;
			@media #{$lg} {
				font-size: 28px;
				line-height: 38px;
			}
			@media #{$xs} {
				font-size: 22px;
				line-height: 32px;
			}
		}
		& img{
			margin-top: 32px;
			width: 100%;
			margin-bottom: 32px;
		}
		& .blog-quote{
			& p{
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				color: $black;
				padding: 25px 40px 25px;
				@media #{$xs} {
					padding: 25px 0 25px;
					font-size: 18px;
				}
			}
		}
		& p{
			&.text{
				margin-top: 15px;
			}
		}
		& .sub-title{
			& .title{
				font-size: 22px;
				font-weight: 500;
				color: $black;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}
	& .blog-details-social{
		padding-top: 38px;
		& ul{
			display: flex;
			justify-content: space-between;
			@media #{$xs} {
				display: block;
			}
			@media #{$sm} {
				display: flex;
			}
			& li{
				display: inline-block;
				& a{
					background: #37589d;
					line-height: 60px;
					padding: 0 45px;
					color: $white;
					font-size: 14px;
					@media #{$lg} {
						padding: 0 30px;
					}
					@media #{$xs} {
						padding: 0 20px;
					}
					& i{
						padding-right: 5px;
					}
				}
				&:nth-child(2){
					& a{
						background: #00acee;
					}
				}
				&:nth-child(3){
					& a{
						background: #cc3333;
					}
				}
				&:nth-child(4){
					& a{
						background: #0177b9;
					}
				}
			}
		}
	}
	& .blog-details-bar{
		padding-top: 35px;
		& span{
			color: $text-color;
			& i{
				padding-right: 6px;
			}
		}
		& ul{
			& li{
				font-size: 13px;
				display: inline-block;
				margin-left: 22px;
				@media #{$xs} {
					margin-left: 0;
					margin-right: 22px;
					margin-top: 15px;
				}
				@media #{$sm} {
					margin-left: 22px;
					margin-right: 0px;
					margin-top: 0px;
				}
				& i {
					padding-right: 6px;
				}
			}
		}
	}
	& .blog-comment-box{
		border: 1px solid #dddedf;
		position: relative;
		padding: 47px 50px 37px 155px;
		margin-top: 24px;
		@media #{$xs} {
			padding: 47px 20px 37px 20px;
		}
		@media #{$sm} {
			padding: 47px 20px 37px 150px;
		}
		& img{
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
			@media #{$xs} {
				position: static;
				transform: translateY(0);
			}
			@media #{$sm} {
				position: absolute;
				transform: translateY(-50%);
			}
		}
		& .title{
			font-size: 18px;
			color: #111111;
		}
		& p{
			padding-top: 12px;
			padding-bottom: 15px;
		}
		& ul{
			& li{
				display: inline-block;
				& a{
					font-size: 14px;
					color: $text-color;
					margin-right: 16px;
					@include transition(0.3s);
					&:hover{
						color: $theme-color;
					}
				}
			}
		}
	}
	& .blog-comment-area{
		& .blog-comment-title{
			padding-top: 58px;
			margin-bottom: 35px;
			& .title{
				font-size: 22px;

			}
		}
		& .blog-comment-item{
			padding-left: 140px;
			position: relative;
			@media #{$xs} {
				padding-left: 0;
			}
			@media #{$sm} {
				padding-left: 140px;
			}
			& img{
				position: absolute;
				left: 0;
				top: 4px;
				@media #{$xs} {
					position: static;
				}
				@media #{$sm} {
					position: absolute;
				}
			}
			& .title{
				font-size: 18px;
				padding-bottom: 17px;

			}
			& span{
				font-size: 12px;
				color: $text-color;
				text-transform: uppercase;
				margin-top: 14px;
				& a{
					color: $theme-color;
					font-weight: 500;
				}
			}
		}
	}
	& .blog-reply-area{
		padding-top: 48px;
		& .blog-reply-title{
			padding-bottom: 7px;
			& .title{
				font-size: 22px;
				font-weight: 500;
			}
		}
		& .blog-reply-form{
			& .input-box{
				& textarea{
					width: 100%;
					height: 200px;
					border: 1px solid #dddedf;
					padding: 20px;
					font-size: 12px;
					color: #999;
					resize: none;
					&::placeholder{
						opacity: 1;
						color: #999;
						text-transform: uppercase;
					}

				}
				& input{
					width: 100%;
					height: 60px;
					border: 1px solid #dddedf;
					padding-left: 20px;
					font-size: 12px;
					color: #999;
					&::placeholder{
						opacity: 1;
						color: #999;
						text-transform: uppercase;
					}
				}
			}
		}
	}


}
