

/*===========================
    5.CATEGORIES css 
===========================*/




.categories-area{
	& .categories-tab-btns{
		height: 33px;
		@media #{$xs} {
			height: auto;
		}
		& .nav{
			@media #{$md} {
				margin-top: 10px;
			}
			@media #{$xs} {
				margin-top: 10px;
			}
			& li{
				margin-left: 57px;
				@media #{$lg} {
					margin-left: 30px;
				}
				@media #{$md} {
					margin-left: 0;
					margin-right: 20px;
				}
				@media #{$xs} {
					margin-left: 0;
					margin-right: 20px;
				}
				& a{
					font-size: 16px;
					font-weight: 500;
					color: #5a5a5a;
					text-transform: uppercase;
					background-color: transparent;
					position: relative;
					padding: 0;
					margin: 0;
					&::before{
						position: absolute;
						content: '';
						left: 0;
						bottom: 0;
						height: 2px;
						width: 0%;
						background: #2a2a2a;
						@include transition(0.3s);
					}
					&.active{
						color: #2a2a2a;
						&::before{
							width: 100%;
						}
					}
				}
			}
		}
	}

	&.featured-product{
		padding-bottom: 225px;
	}
}







.categories-item{
	& .categories-thumb{
		position: relative;
		&.item-2{
			& span{
				background: #f2b102;
			}
		}
		&.item-3{
			& span{
				background: #60be62;
				right: auto;
				left: 20px;
			}
		}
		& span{
			position: absolute;
			top: 20px;
			right: 20px;
			background: #34b6ec;
			line-height: 26px;
			padding: 0 17px;
			font-size: 11px;
			text-transform: uppercase;
			color: $white;
		}
		& .icon{
			position: absolute;
			left: 50%;
			bottom: 0px;
			transform: translateX(-50%);
			width: 100%;
			text-align: center;
			opacity: 0;
			@include transition(0.3s);
			& ul{
				& li{
					display: inline-block;
					margin: 0 6px;
					& a{
						height: 42px;
						width: 42px;
						text-align: center;
						line-height: 46px;
						background: $white;
						box-shadow: 0px 10px 20px 0px rgba(26, 32, 43, 0.1);
						font-size: 18px;
						color: #2a2a2a;
						@include transition(0.3s);
						&:hover{
							background: $theme-color;
							color: $white;
						}
					}
				}
			}
		}
		& img{
			width: 100%;
		}
	}
	& .categories-content{
		padding-top: 17px;
		ul{
			& li{
				display: inline-block;
				margin-right: 3px;
				& i{
					font-size: 12px;
					color: #feae15;
				}
				&:nth-child(4){
					& i{
						color: #aaaeb2;
					}
				}
				&:nth-child(5){
					& i{
						color: #aaaeb2;
					}
				}
			}
		}
		& > span{
			text-transform: capitalize;
			padding-top: 7px;
			display: block;
			border-bottom: 1px solid #e0e1e3;
			padding-bottom: 12px;
			margin-bottom: 20px;
			& a{
				color: $text-color;
			}
		}
		& .cart-item{
			& a{
				position: relative;
				z-index: 5;
				@include transition(0.3s);
				&::before{
					position: absolute;
					content: 'add to cart';
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					height: 100%;
					width: 100%;
					background: $theme-color;
					z-index: -1;
					padding-left: 50px;
					line-height: 32px;
					font-size: 13px;
					font-weight: 500;
					color: $white;
					text-transform: uppercase;
					opacity: 0;
					@include transition(0.3s);
				}
				& span{
					font-weight: 500;
					color: $text-color;
					@include transition(0.3s);
					& span{
						color: $black;
					}
				}
				& i{
					color: $text-color;
					height: 32px;
					width: 32px;
					border: 2px solid #e0e1e3;
					text-align: center;
					line-height: 28px;
					font-size: 14px;
					margin-right: 12px;
					background: $white;
					@include transition(0.3s);
				}
			}
		}
	}
	&:hover{
		& .categories-thumb{
			& .icon{
				bottom: 25px;
				opacity: 1;
			}
		}
		& .categories-content{
			& .cart-item{
				& a{
					& i{
						border-color: $theme-color;
					}
					&::before{
						opacity: 1;
					}
					& span{
						opacity: 0;
					}
				}
			}
		}
	}
}