

/*===========================
    11.CATEGORY PAGE css 
===========================*/




.category-page-area{
	& .category-page-sidebar{
		& .category-sidebar{
			border: 1px solid #e5e6e7;
			& .category-sidebar-title{
				& .title{
					line-height: 60px;
					padding-left: 29px;
					font-size: 22px;
					font-weight: 500;
					color: $heading-color;
					position: relative;
					border-bottom: 1px solid #e5e6e7;
					&::before{
						position: absolute;
						content: '';
						left: -1px;
						top: 0;
						height: 100%;
						width: 3px;
						background: $theme-color;
					}
				}
			}
		}
		& .category-color{
			& .category-color-item{
				padding-left: 24px;
				padding-bottom: 19px;
				padding-top: 25px;
				& ul{
					& li{
						& span{
							color: $text-color;
							padding-left: 24px;
							position: relative;
							margin-bottom: 15px;
							&::before{
								position: absolute;
								content: '';
								left: 0;
								top: 50%;
								transform: translateY(-50%);
								height: 14px;
								width: 14px;
								border-radius: 50%;
								background: #434242;
							}
						}
						&:nth-child(2){
							& span{
								&::before{
									background: #d91e18;
								}
							}
						}
						&:nth-child(3){
							& span{
								&::before{
									background: #0f63e7;
								}
							}
						}
						&:nth-child(4){
							& span{
								&::before{
									background: #f7ca18;
								}
							}
						}
						&:nth-child(5){
							& span{
								&::before{
									background: #bababb;
								}
							}
						}
						&:nth-child(6){
							& span{
								&::before{
									background: #91b496;
								}
							}
						}
					}
				}
			}
		}
		& .sidebar-offer{
			& .sidebar-offer-thumb{
				position: relative;
				& .sidebar-offer-content{
					position: absolute;
					top: 0;
					left: 110px;
					top: 24px;
					@media #{$lg} {
						left: 70px;
					}
					& .title{
						font-size: 30px;
						font-weight: 800;
						text-transform: uppercase;
						color: #2e2e2e;
						& span{
							color: #ff2f2f;
							 & span{
							 	color: #010101;
							 }
						}
					}
					& a{
						padding: 0 15px;
						line-height: 34px;
						margin-top: 15px;
					}
				}
				& img{
					width: 100%;
				}
			}
		}
	}
	& .category-page-item{
		& .category-page-topbar{
			& .item-1{
				& .nice-select{
					margin-right: 20px;
					height: auto;
					line-height: 46px;
					border-radius: 0;
					border: 1px solid #e5e6e7;
					padding: 0 130px 0 20px;
					font-size: 12px;
					color: #999;
					text-transform: uppercase;
					@media #{$lg} {
						padding: 0 80px 0 20px;
					}
					@media #{$md} {
						padding: 0 80px 0 20px;
					}
					@media #{$xs} {
						padding: 0 55px 0 20px;
					}
					& .list{
						width: 100%;
						border-radius: 0;
						border: 1px solud #e5e6e7;
						top: 96%;
					}
				}
			}
			& .item-2{
				@media #{$xs} {
					margin-top: 30px;
				}
				& .nav{
					& li{
						& a{
							background: transparent;
							padding: 0;
							margin: 0;
							color: #999;
							margin-right: 18px;
							&.active{
								color: #5a5a5a;
							}
						}
					}
				}
				& .input-box{
					display: inline-block;
					position: relative;
					margin-left: 10px;
					& input{
						line-height: 46px;
						border: 1px solid #e5e6e7;
						padding-left: 18px;
						width: 210px;
						font-size: 12px;
						color: #999;
						@media #{$xs} {
							width: 200px;
						}
						&::placeholder{
							opacity: 1;
							color: #999;
							text-transform: uppercase;
						}
					}
					& button{
						position: absolute;
						right: 18px;
						top: 50%;
						transform: translateY(-50%);
						height: 100%;
						border: 0;
						background-color: transparent;
						color: #999;
						font-size: 13px;
					}
				}
			}
		}
	}
}


.shop-page-pagination{
	& nav{
		& ul{
			& li{
				& a{
					padding: 0;
					height: 40px;
					width: 40px;
					text-align: center;
					line-height: 42px;
					border-radius: 50% !important;
					background-color: transparent;
					color: $text-color;
					border: 0;
					font-size: 16px;
					margin-right: 10px;
					font-weight: 500;
					@include transition(0.3s);
					&.active,
					&:hover{
						background: $theme-color;
						color: $white;
					}
				}
				&:last-child{
					& a{
						height: auto;
						width: auto;
						border-radius: 0 !important;
						font-size: 13px;
						font-weight: 500;
						color: $black;
						background-color: transparent;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

.shop-page-list-area{
	& .shop-page-list-item{
		& .shop-page-list-thumb{
			position: relative;
			& img{
				width: 100%;
			}
			& .icon{
				position: absolute;
				left: 50%;
				bottom: 0px;
				transform: translateX(-50%);
				width: 100%;
				text-align: center;
				opacity: 0;
				@include transition(0.3s);
				& ul{
					& li{
						display: inline-block;
						margin: 0 6px;
						& a{
							height: 42px;
							width: 42px;
							text-align: center;
							line-height: 46px;
							background: $white;
							box-shadow: 0px 10px 20px 0px rgba(26, 32, 43, 0.1);
							font-size: 18px;
							color: #2a2a2a;
							@include transition(0.3s);
							&:hover{
								background: $theme-color;
								color: $white;
							}
						}
					}
				}
			}
		}
		& .shop-page-list-content{
			@media #{$xs} {
				margin-top: 30px;
			}
			& .title{
				font-size: 22px;
				font-weight: 500;
				color: #2a2a2a;
				padding-bottom: 11px;
			}
			& .icon{
				ul{
					& li{
						display: inline-block;
						margin-right: 3px;
						& i{
							font-size: 12px;
							color: #feae15;
						}
						&:nth-child(4){
							& i{
								color: #aaaeb2;
							}
						}
						&:nth-child(5){
							& i{
								color: #aaaeb2;
							}
						}
					}
				}
			}
			& p{
				padding-top: 17px;
				border-bottom: 1px solid #e0e1e3;
				padding-bottom: 27px;
				margin-bottom: 30px;
			}
			& .cart-price{
				& ul{
					& li{
						display: inline-block;
						& a{
							font-size: 13px;
							font-weight: 500;
							text-transform: uppercase;
							&.main-btn{
								background: $black;
								line-height: 58px;
								border-radius: 80px;
								border: 0;
								padding: 0 32px;
								margin-right: 32px;
								&:hover{
									background: $theme-color;
									color: $white;
								}
							}
							&.btn{
								font-size: 16px;
								color: $theme-color;
								padding: 0;
								@media #{$xs} {
									margin-top: 20px;
								}
								@media #{$sm} {
									margin-top: 0px;
								}
								& span{
									color: $text-color;
								}
							}
						}
					}
				}
			}
		}
		&:hover{
			& .shop-page-list-thumb{
				& .icon{
					bottom: 25px;
					opacity: 1;
				}
			}
		}
	}
}













.radio_common{
	padding-left: 24px;
	padding-bottom: 4px;
	padding-top: 25px;
	& li{
		& label{
		    color: $text-color;
		    font-size: 16px;
		    margin-bottom: 16px;
		    cursor: pointer;
		    font-weight: 400;
		    @media #{$lg} {
		    	font-size: 14px;
		    }
		}
		& input[type="radio"]{
			display: none;
			&+label{
				& span{
				    display: inline-block;
				    width: 14px;
				    height: 14px;
				    margin: -1px 9px 0 0;
				    vertical-align: middle;
				    cursor: pointer;
				    -moz-border-radius: 50%;
				    border-radius: 50%;
				    border: 1px solid $text-color;
				    position: relative;
				    &::before{
					    background: $theme-color;
					    border-radius: 100%;
					    content: "";
					    position: absolute;
					    @include transform(scale(0));
					    @include transition(0.2s);

				    }

				}
			}
			&:checked{
				&+label{
					& span{
						border-color: $theme-color;
						&::before{
							@include transform(scale(1));

						}
					}
				}
			}
		}
	}
}


.radio_style2 li input[type="radio"]+label span:before {
    height: 8px;
    left: 2px;
    top: 2px;
    width: 8px;
}




.price-range-box{
	margin-top: 34px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 33px;
	& form{
		position: relative;
		& span{
			font-weight: 700;
			color: $heading-color;
		}
		& input{
			width: 140px;
			border: 0;
			color: $heading-color;
			font-size: 16px;
			font-weight: 500;
			color: $black;
			@media #{$lg} {
				width: 100px;
			}
			&::placeholder{
				opacity: 1;
			}
		}
		& button{
			background-color: $theme-color;
			border: 0;
			padding: 0 38px;
			font-weight: 500;
			font-size: 13px;
			color: $white;
			text-transform: uppercase;
			line-height: 40px;
			border-radius: 4px;
			display: block;
			margin-bottom: 25px;
		}
		& span{
			color: $text-color;
			padding-right: 4px;
			font-weight: 400;
		}
	}
}
.ui-slider-horizontal .ui-slider-range {
	background: $theme-color;
	height: 6px;
}

.ui-slider-horizontal {
	height: 6px;
	background: #e4e7ea;
	border-radius: 0;
	border: none;
	width: 100%;
	margin: 0 auto;
    margin-bottom: 42px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: $white;
	width: 15px;
    height: 15px;
    top: -5px;
	cursor: pointer;
    border-radius: 50%;
    border: 2px solid $theme-color;
}
