

/*===========================
    1. COMMON css 
===========================*/


@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');

 body {
	font-family: $heebo;
	font-weight: normal;
	font-style: normal;
    color: $text-color;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);
}

img {
	max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover{
	text-decoration: none;
}

i,
span,
a{
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heebo;
	font-weight: 500;
	color: $black;
	margin: 0px;
}

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: $text-color;
	margin: 0px;
}


.bg_cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.slick-slide {
	outline: 0;
}

.page-link:focus {
	box-shadow: none;
}

// others common css here



/*===== All Button Style =====*/

.main-btn {
	display: inline-block;
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include user-select(none);
	border: 1px solid $theme-color;
	padding: 0 45px;
	font-size: 13px;
	line-height: 50px;
	border-radius: 0px;
    color: $white;
    cursor: pointer;
    z-index: 5;
    @include transition(0.4s);
    background-color: $theme-color;
    text-transform: uppercase;
    
    &:hover{
        background-color: $white;
        color: $theme-color;
        border-color: $theme-color;
    }
    
    &.main-btn-2{
        background-color: $white;
        color: $theme-color;
        border-color: $theme-color;
        &:hover{
            background-color: $theme-color;
            border-color: $theme-color;
            color: $white;
        }
    }
}





.section-title{
	& .title{
		font-size: 30px;
		font-weight: 500;
		position: relative;
		padding-top: 15px;
		text-transform: uppercase;
		@media #{$xs} {
			font-size: 26px;
		}
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			height: 2px;
			width: 100px;
			background: #5a5a5a;
		}
	}
}




/** @section Preloader */
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: #ffffff;
	transition: .3s all ease;
}

.preloader.loaded {
	opacity: 0;
	visibility: hidden;
}

.preloader-body {
	text-align: center;
}

.preloader-body p {
	position: relative;
	right: -8px;
}

.cssload-container {
	width: 100%;
	height: 36px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 36px;
	height: 36px;
	margin: 0 auto;
	border: 3px solid $theme-color;
	border-radius: 50%;
	border-left-color: transparent;
	border-bottom-color: transparent;
	animation: cssload-spin .88s infinite linear;
}

@keyframes cssload-spin {
	100% {
		transform: rotate(360deg);
	}
}
