

/*===========================
    16.CONTACT css 
===========================*/






.contact-map{
	margin-bottom: -8px;
	& iframe{
		width: 100%;
		height: 600px;
	}
}




.contact-info-area{
	& .contact-info-item{
		padding-left: 95px;
		position: relative;
		@media #{$lg} {
			padding-left: 70px;
		}
		& img{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		& .title{
			font-size: 18px;
			padding-bottom: 16px;

		}
		& ul{
			& li{
				& a{
					font-size: 16px;
					line-height: 28px;
					color: $text-color;
				}
			}
		}
	}
}


.contact-form-area{
	& .section-title{
		padding-bottom: 10px;
	}
	& .input-box{
		& textarea{
			width: 100%;
			height: 195px;
			border: 1px solid #dddedf;
			resize: none;
			padding-left: 20px;
			padding-top: 15px;
			font-size: 12px;
			color: #999;
			&::placeholder{
				opacity: 1;
				text-transform: uppercase;
				color: #999;
			}
		}
		& input{
			width: 100%;
			height: 60px;
			border: 1px solid #dddedf;
			padding-left: 20px;
			font-size: 12px;
			color: #999;
			&::placeholder{
				opacity: 1;
				text-transform: uppercase;
				color: #999;
			}
		}
	}
}
