

/*===========================
    6.EQUIPMENT css 
===========================*/




.equipment-area{
	padding-top: 133px;
	padding-bottom: 133px;
	margin-bottom: 120px;
	& .equipment-content{
		& > span{
			font-size: 20px;
			font-weight: 500;
			color: $black;
			padding-bottom: 13px;
		}
		& .title{
			font-size: 100px;
			font-weight: 500;
			color: $black;
			text-transform: uppercase;
			padding-bottom: 25px;
			@media #{$xs} {
				font-size: 70px;
			}
			& span{
				color: #ff5050;
				font-weight: 800;
			}
		}
	}
}





#simple_timer{
	margin-top: 25px;
	& .syotimer__body{
		display: flex;
		justify-content: center;
		@media #{$xs} {
			display: inline-block;
		}
		@media #{$sm} {
			display: flex;
		}
		& .syotimer-cell{
			margin: 0 24px;
			@media #{$xs} {
				margin-top: 30px;
			}
			@media #{$sm} {
				margin-top: 0;
			}
			& .syotimer-cell__value{
				font-size: 72px;
				font-weight: 600;
				color: $black;
				height: 145px;
				width: 145px;
				text-align: center;
				line-height: 145px;
				border: 5px dotted $black;
				border-radius: 50%;
				@media #{$lg} {
					height: 115px;
					width: 115px;
					line-height: 110px;
					font-size: 50px;
				}
				@media #{$xs} {
					font-size: 50px;
					width: 135px;
					height: 135px;
					line-height: 135px;
					
				}
			}
			& .syotimer-cell__unit{
				font-size: 27px;
				color: $black;
				font-weight: 500;
				text-transform: capitalize;
				margin-top: 25px;
				@media #{$lg} {
					font-size: 22px;
				}
			}
			&:last-child{
				&::before{
					width: 0;
				}
			}
			&.syotimer-cell_type_second{
				display: none;
			}
		}
	}
}

