

/*===========================
    17.ERROR css 
===========================*/



.error-bg{
	height: 600px;
}


.error-area{
	padding-top: 215px;
	 padding-bottom: 120px;
	& .error-content{
		& .title{
			font-size: 200px;
			color: #1e1e21;
			font-weight: 500;
			line-height: 160px;
			@include text-shadow(0px -15px #c2c2c2) ;
			@media #{$xs} {
				font-size: 110px;
				@include text-shadow(0px -10px #c2c2c2) ;
			}
			@media #{$sm} {
				font-size: 200px;
				@include text-shadow(0px -15px #c2c2c2) ;
			}
		}
		& span{
			font-size: 45px;
			font-weight: 500;
			color: #1e1e21;
			text-transform: uppercase;
			padding-top: 16px;
			@media #{$xs} {
				font-size: 24px;
			}
			@media #{$sm} {
				font-size: 34px;
			}
		}
		& p{
			padding-top: 2px;
			padding-bottom: 43px;
			@media #{$xs} {
				font-size: 14px;
			}
		}
	}
}