

/*===========================
    15.FAQ css 
===========================*/



.faq-area{
	& .section-title{
		padding-bottom: 9px;
	}
	& .faq-submit-item{
		background: #1e1e21;
		padding: 45px 30px;
		& .title{
			color: $white;
			font-size: 22px;
			padding-left: 40px;
			position: relative;
			margin-bottom: 27px;
			&::before{
				position: absolute;
				content: '';
				left: 0;
				bottom: 6px;
				height: 2px;
				width: 30px;
				background: $white;
			}
		}
		& .input-box{
			& input{
				width: 100%;
				background: #353538;
				border: 0;
				height: 60px;
				padding-left: 20px;
				font-size: 12px;
				color: #999;
				&::placeholder{
					opacity: 1;
					text-transform: uppercase;
					color: #999;
				}
			}
			& textarea{
				width: 100%;
				background: #353538;
				border: 0;
				height: 130px;
				padding-left: 20px;
				font-size: 12px;
				color: #999;
				resize: none;
				padding-top: 15px;
				&::placeholder{
					opacity: 1;
					text-transform: uppercase;
					color: #999;
				}
			}
		}
	}
}







.faq-accrodion{
    margin-top: 30px;
    @media #{$md} {
        margin-top: 30px;
    }
    @media #{$xs} {
        margin-top: 30px;
    }
    & .accrodion{
        position: relative;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        background-color: #fff;
        &::before{
            content: '';
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: 0px;
            right: 0px;
            border-radius: 0px;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            background-image: -webkit-gradient(linear, left top, right top, from(var(--thm-primary)), to(var(--thm-base)));
            background-image: linear-gradient(90deg, var(--thm-primary) 0%, var(--thm-base) 100%);
            -webkit-transition: -webkit-transform .4s ease;
            transition: -webkit-transform .4s ease;
            border-radius: 5px;
            transition: transform .4s ease;
            transition: transform .4s ease, -webkit-transform .4s ease;

        }
        &+.accrodion{
            margin-top: 10px;
        }
        &.active{
            & .accrodion-inner{
                margin: 0 1px;
                background-color: transparent;
                border-color: $white;
            }
            &::before{
                -webkit-transform: scaleX(1);
                transform: scaleX(1);

            }
            & .accrodion-title{
                padding-bottom: 0;
                background-color: $theme-color;
                & h4{
                	color: $white;
                }
                &::before{
                    opacity: 0;
                }
                &::after{
                    opacity: 1;
                    color: $theme-color;
                }
            }
        }
        & .accrodion-inner{
            background-color: transparent;
            padding: 0px 0;
            border-style: solid;
            border-width: 1px;
            border-color: #dce0e8;
            position: relative;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            border-radius: 0px;

        }
        & .accrodion-title{
            padding: 0px 19px;
            cursor: pointer;
            position: relative;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            @media #{$xs} {
                padding: 0 38px 0 20px;
            }
            &::before{
                content: "\e64b";
                font-family: 'themify';
                font-weight: 400;
                font-size: 14px;
                color: $heading-color;
                text-align: center;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                position: absolute;
                top: 50%;
                right: 20px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                opacity: 1;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;
                @media #{$xs} {
                    right: 20px;
                }
            }
            &::after{
                content: "\e648";
                font-weight: 400;
                font-family: 'themify';
                font-weight: 900;
                font-size: 14px;
                color: $white !important;
                text-align: center;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                position: absolute;
                top: 50%;
                right: 20px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                opacity: 0;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;
                @media #{$xs} {
                    right: 20px;
                }

            }
            & h4{
                margin: 0;
                color: $text-color;
                font-size: 18px;
                font-weight: 500;
                line-height: 60px;
                @media #{$xs} {
                	line-height: 28px;
                	padding: 10px 0;
                }
                @media #{$sm} {
                	line-height: 60px;
                	padding: 0;
                }

            }
        }
        & .accrodion-content{
            & .inner{
                padding-top: 22px;
                padding-bottom: 9px;
            }
            & p{
                margin: 0;
                color: $text-color;
                font-size: 16px;
                line-height: 28px;

            }
        }
    }
}
