

/*===========================
    7.FEEDBACK css 
===========================*/




.feedback-area{
	padding-bottom: 120px;
	& .feedback-item{
		& img{
			display: inline-block;
		}
		& p{
			font-size: 22px;
			line-height: 42px;
			color: $text-color;
			padding: 34px 135px 46px;
			@media #{$lg} {
				padding: 34px 80px 46px;
			}
			@media #{$md} {
				padding: 34px 0px 46px;
				font-size: 20px;
			}
			@media #{$xs} {
				padding: 34px 0px 46px;
				font-size: 15px;
				line-height: 28px;
			}
			@media #{$sm} {
				font-size: 20px;
				line-height: 34px;
			}
		}
		& .info{
			& .title{
				font-size: 22px;
			}
			& span{
				padding-top: 8px;
			}
		}
	}
	& .feedback-active{
		& .slick-arrow{
			position: absolute;
			top: 50%;
			transform: translateY(50%);
			cursor: pointer;
			z-index: 99;
			padding: 10px;
			font-size: 24px;
			color: $text-color;
			&.prev{
				left: 0;
			}
			&.next{
				right: 0;
			}
		}
	}
	&.feedback-about{
		background: #f3f3f3;
	}
}