

/*===========================
    10.FOOTER css 
===========================*/





.footer-area{
	background: #1e1e21;
	padding-top: 84px;
	& .footer-widget{
		& .title{
			color: $white;
			font-size: 22px;
		}
	}
	& .footer-about{
		& p{
			color: $white;
			opacity: .5;
			padding-right: 30px;
			padding-top: 26px;
			padding-bottom: 38px;
		}
		& ul{
			& li{
				display: inline-block;
				& a{
					color: $white;
					margin-right: 30px;
					@include transition(0.3s);
					&:hover{
						color: $theme-color;
					}
				}
			}
		}
	}
	& .footer-list{
		@media #{$md} {
			margin-left: 0;
		}
		@media #{$xs} {
			margin-left: 0;
		}
		& ul{
			margin-top: 24px;
			& li{
				& a{
					color: $white;
					line-height: 32px;
					opacity: .5;
					@include transition(0.3s);
					&:hover{
						opacity: 1;
						color: $theme-color;
						padding-left: 6px;
					}
				}
			}
		}
	}
	& .footer-download{
		& ul{
			display: flex;
			justify-content: space-between;
			margin-top: 38px;
			border-bottom: 1px solid #4b4b4d;
			padding-bottom: 30px;
			& li{
				& a{
					background: $white;
					padding: 14px 14px 11px 40px;
					position: relative;
					border-radius: 5px;
					@media #{$lg} {
						padding: 14px 5px 11px 24px;
					}
					& i{
						position: absolute;
						left: 13px;
						top: 50%;
						transform: translateY(-50%);
						color: $theme-color;
						font-size: 20px;
						@media #{$lg} {
							left: 3px;
						}
					}
					& span{
						font-size: 10px;
						color: #4a4a4a;
						text-transform: uppercase;
						line-height: 10px;
						display: block;
					}
					& p{
						font-size: 13px;
						font-weight: 600;
						color: $black;
						text-transform: uppercase;
						line-height: 18px;
					}
				}
				&:last-child{
					& a{
						background: $theme-color;
						& i{
							color: $white;
						}
						& span{
							color: $white;
						}
						& p{
							color: $white;
						}
					}
				}
			}
		}
		& > span{
			font-size: 18px;
			font-weight: 500;
			color: $white;
			margin-top: 22px;
		}
		& > p{
			color: $white;
			opacity: .5;
			padding-top: 15px;
		}
	}
}


.footer-copyright{
	border-top: 1px solid #353538;
	margin-top: 90px;
	& .footer-copyright-item{
		padding: 25px 0;
		@media #{$xs} {
			text-align: center;
		}
		& ul{
			& li{
				display: inline-block;
				margin-left: 10px;
			}
		}
		& p{
			color: $white;
			opacity: .5;
			@media #{$xs} {
				padding-bottom: 10px;
				font-size: 15px;
			}
		}
	}
}

.back-to-top{
	position: fixed;
	z-index: 9999;
	right: 30px;
	bottom: 30px;
	display: none;
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 45px;
	background: $theme-color;
	color: $white;
	cursor: pointer;
}

