


/*===========================
    2.HEADER css 
===========================*/





.header-area{
	& .header-top{
		border-bottom: 1px solid #e3e3e3;


		& .header-top-item{
			& .header-contact{
				@media #{$xs} {
					text-align: center;
				}
				& ul{
					& li{
						display: inline-block;
						& a{
							color: $text-color;
							font-size: 13px;
							margin-right: 22px;
							line-height: 50px;
							@media #{$xs} {
								margin-right: 8px;
							}
						}
					}
				}
			}
			& .header-top-btns{
				@media #{$xs} {
					text-align: center;
					padding-bottom: 10px;
				}
				& ul{
					& li{
						display: inline-block;
						& a{
							color: $text-color;
							font-size: 13px;
						}
						& .nice-select{
							border: 0;
							height: auto;
							line-height: 8px;
							font-size: 13px;
							color: $text-color;
							padding: 0 30px 0 18px;
							&::after{
								right: 18px;
								top: 6px;
							}
							& .list{
								margin-top: 20px;
								& .option{
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}






.main-header{
	& .main-header-items{
		& .input-box{
			position: relative;
			& button{
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				height: 46px;
				width: 46px;
				border: 0;
				background: $theme-color;
				border-radius: 4px;
				color: $white;
			}
			& input{
				width: 600px;
				background: #f3f3f3;
				height: 50px;
				border: 0;
				border-radius: 5px;
				padding-left: 20px;
				font-size: 12px;
				color: #999;
				@media #{$lg} {
					width: 450px;
				}
				@media #{$md} {
					width: 230px;
				}
				&::placeholder{
					opacity: 1;
					color: #999;
					text-transform: uppercase;
				}
			}
		}
		& ul{
			display: flex;
			align-items: center;
			& li{
				& a{
					font-size: 13px;
					color: $text-color;
					margin: 0 10px;
				}
				& .nice-select{
					border: 0;
					font-size: 13px;
					color: $text-color;
					padding: 0 10px 0 10px;
					margin-top: 4px;
					&::after{
						right: 0;
					}
					& .list{
						display: block;
					}
				}
			}
		}
	}
}






.header-menu{
	background: #1e1e21;
}

	.navigation{
	    & .navbar {
	        position: relative;
	        padding: 0;
	        & .navbar-brand{
	        	display: block;
	        }
	        & .navbar-brand-2{
	        	display: none;
	        }
	        & .country-flag{
	        	& img{
	        		border: 5px solid $white;
	        		border-radius: 6px;
	        		box-shadow: 0px 8px 16px 0px rgba(60, 110, 203, 0.2);
	        	}
	        }

	        & .navbar-toggler {
	        	border: 0;
	        	padding: 10px 12px;
	        	border-radius: 0;

	            & .toggler-icon {
	                width: 30px;
	                height: 2px;
	                background-color: $white;
	                margin: 5px 0;
	                display: block;
	                position: relative;
	                @include transition(0.3s);
	            }

	            &.active {
	                & .toggler-icon {
	                    &:nth-of-type(1) {
	                        @include transform(rotate(45deg));
	                        top: 7px;
	                    }

	                    &:nth-of-type(2) {
	                        opacity: 0;
	                    }

	                    &:nth-of-type(3) {
	                        @include transform(rotate(135deg));
	                        top: -7px;
	                    }
	                }
	            }
	        }

	        & .navbar-collapse {
	            @media #{$md} {
	                position: absolute;
	                top: 100%;
	                left: 0;
	                width: 100%;
	                background-color: $theme-color;
	                z-index: 8;
	                padding: 10px 16px;
	                box-shadow: 0 26px 48px 0 rgba(0, 0, 0, .15);

	            }

	            @media #{$xs} {
	                position: absolute;
	                top: 100%;
	                left: 0;
	                width: 100%;
	                background-color: $theme-color;
	                z-index: 8;
	                padding: 10px 16px;
	                box-shadow: 0 26px 48px 0 rgba(0, 0, 0, .15);
	            }
	        }

	        & .navbar-nav {
	            @media #{$md} {
	                margin-right: 0;
	            }

	            @media #{$xs} {
	                margin-right: 0;
	            }

	            & .nav-item {
	                position: relative;

	                & a {
	                    font-size: 16px;
	                    font-weight: 400;
	                    color: $white;
	                    text-transform: capitalize;
	                    position: relative;
	                    @include transition(0.3s);
	                    line-height: 60px;
	                    padding: 0;
                        padding-right: 34px;
                        @media #{$md} {
                        	color: $white;
                        }
                        @media #{$xs} {
                        	color: $white;
                        }
                        & > i{
                        	font-size: 13px;
                        	padding-left: 4px;
                        	@media #{$md} {
                        		display: none;
                        	}
                        	@media #{$xs} {
                        		display: none;
                        	}
                        	
                        }

	                    @media #{$lg} {
	                        padding-right: 20px;
	                    }

	                    @media #{$md} {
	                        padding: 0;
	                        display: block;
	                        border: 0;
	                        margin: 0;
	                        line-height: 40px;
	                    }

	                    @media #{$xs} {
	                        padding: 0;
	                        display: block;
	                        border: 0;
	                        margin: 0;
	                        line-height: 40px;
	                    }

	                    & span {
	                        padding-left: 5px;
	                        font-size: 15px;

	                        @media #{$md} {
	                            display: none;
	                        }

	                        @media #{$xs} {
	                            display: none;
	                        }
	                    }
	                }
	                &:first-child{
	                	& a{
	                		margin-left: 0;
	                	}
	                }
	                &:last-child{
	                	& a{
	                		margin-right: 0;
	                	}
	                }

	                & .sub-menu {
	                    position: absolute;
	                    left: 0;
	                    top: 110%;
	                    width: 200px;
	                    background-color: $white;
	                    opacity: 0;
	                    visibility: hidden;
	                    @include transition(0.3s);
	                    z-index: 99;
	                    @include box-shadow (0 2px 6px 0 rgba(0, 0, 0, 0.16));
	                    border-top: 4px solid $theme-color;

	                    @media #{$md} {
	                        position: relative !important;
	                        width: 100% !important;
	                        left: 0 !important;
	                        top: auto !important;
	                        opacity: 1 !important;
	                        visibility: visible !important;
	                        display: none;
	                        right: auto;
	                        @include transform(translateX(0%));
	                        @include transition(0s);
	                        @include box-shadow(none);
	                        text-align: left;
	                        border-top: 0;
	                    }

	                    @media #{$xs} {
	                        position: relative !important;
	                        width: 100% !important;
	                        left: 0 !important;
	                        top: auto !important;
	                        opacity: 1 !important;
	                        visibility: visible !important;
	                        display: none;
	                        right: auto;
	                        @include transform(translateX(0%));
	                        @include transition(0s);
	                        @include box-shadow(none);
	                        text-align: left;
	                        border-top: 0;
	                    }

	                    & > li {
	                        position: relative;

	                        & .sub-nav-toggler {
	                            color: $heading-color;
	                            @include transition(0.3s);
	                        }

	                        & a {
	                            display: block;
	                            padding: 12px 24px;
	                            position: relative;
	                            color: $black;
	                            @include transition(0.3s);
	                            border-radius: 0;
	                            margin: 0 0;
	                            line-height: 30px;
	                            border-top: 1px solid $theme-color;

	                            & i {
	                                float: right;
	                                font-size: 14px;
	                                margin-top: 5px;

	                                @media #{$md} {
	                                    display: none;
	                                }

	                                @media #{$xs} {
	                                    display: none;
	                                }
	                            }

	                            & .sub-nav-toggler {
	                                & i {
	                                    display: inline-block;
	                                }
	                            }
	                        }

	                        & .sub-menu {
	                            right: auto;
	                            left: 100%;
	                            top: 0;
	                            opacity: 0;
	                            visibility: hidden;
	                            @include transition(0.3s);

	                            @media #{$md} {
	                                padding-left: 30px;
	                            }

	                            @media #{$xs} {
	                                padding-left: 30px;
	                            }
	                        }

	                        &:hover {
	                            & .sub-menu {
	                            	top: 100%;
	                                opacity: 1;
	                                visibility: visible;
	                            }

	                            & .sub-nav-toggler {
	                                color: $white;
	                            }

	                            & > a {
	                                background-color: $heading-color;
	                                color: #fff !important;
	                            }
	                        }
	                    }
	                }

	                &:hover {
	                    & .sub-menu {
	                        opacity: 1;
	                        visibility: visible;
	                        top: 100%;
	                    }
	                }

	                .sub-nav-toggler {
	                    display: none;

	                    @media #{$md} {
	                        display: inline-block;
	                        position: absolute;
	                        top: -14px;
	                        right: 0;
	                        padding: 10px 14px;
	                        font-size: 16px;
	                        background: none;
	                        border: 0;
	                        color: $white;
	                    }

	                    @media #{$xs} {
	                        display: inline-block;
	                        position: absolute;
	                        top: -14px;
	                        right: 0;
	                        padding: 10px 14px;
	                        font-size: 16px;
	                        background: none;
	                        border: 0;
	                        color: $white;
	                    }
	                }
	            }
	        }
            & .navbar-btn{
            	line-height: 60px;
            	& ul{
            		& li{
            			display: inline-block;
            			border-left: 1px solid #4b4b4d;
            			padding-left: 20px;
            			margin-left: 20px;
            			@media #{$xs} {
            				padding-left: 5px;
            				margin-left: 5px;
            			}
            			@media #{$sm} {
            				padding-left: 15px;
            				margin-left: 15px;
            			}
            			&:first-child{
            				border-left: 0;
            				padding-left: 0;
            				margin-left: 0;
            			}
            			& a{
            				font-size: 13px;
            				display: flex;
            				align-items: center;
            				color: $white;
            				& i{
            					font-size: 18px;
            					padding-right: 6px;
            				}
            			}
            		}
            	}
            }
	    }
	}