


/*===========================
    3.HERO css 
===========================*/



.hero-area{
	& .hero-slide{
		height: 750px;
		display: flex;
		align-items: center;
		& .hero-content{
			overflow: hidden;
			& > span{
				font-weight: 500;
				color: $text-color;
				text-transform: uppercase;
				padding-bottom: 17px;
			}
			& .title{
				font-size: 60px;
				font-weight: 500;
				color: #111;
				line-height: 60px;
				@media #{$lg} {
					font-size: 50px;
					line-height: 50px;
				}
				@media #{$md} {
					font-size: 44px;
					line-height: 44px;
				}
				@media #{$xs} {
					font-size: 38px;
					line-height: 46px;
				}
				& span{
					font-weight: 400;
				}
			}
			& p{
				font-size: 24px;
				color: #111;
				padding-top: 26px;
				padding-bottom: 50px;
			}
		}
		& .hero-thumb{
			& img{
				display: inline-block;
				@media #{$xs} {
					width: 40%;
				}
			}
		}
	}
	& .slick-arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		z-index: 99;
		height: 70px;
		width: 70px;
		text-align: center;
		line-height: 70px;
		border-radius: 50%;
		border: 1px dashed $black;
		color: $black;
		font-size: 24px;
		@include transition(0.3s);
		@media #{$laptop} {
			height: 50px;
			width: 50px;
			line-height: 50px;
			font-size: 20px;
		}
		@media #{$lg} {
			height: 30px;
			width: 30px;
			line-height: 28px;
			font-size: 14px;
		}
		&:hover{
			border-color: $white;
			color: $white;
		}
		&.prev{
			left: 30px;
			@media #{$laptop} {
				left: 0;
			}
			@media #{$lg} {
				left: 0;
			}
		}
		&.next{
			right: 30px;
			@media #{$laptop} {
				right: 0;
			}
			@media #{$lg} {
				right: 0;
			}
		}
	}
}








.page-title-area{
	height: 220px;
	position: relative;
	&::before{
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(11, 79, 187,.8);
		opacity: .8;
	}
	& .page-title-item{
		& nav{
			display: inline-block;
			& ol{
				background-color: transparent;
				padding: 0;
				margin: 0;
				& li{
					color: $white;
					text-transform: capitalize;
					& a{
						color: $white;

					}
				}
			}
		}
		& .title{
			color: $white;
			font-size: 30px;
			font-weight: 500;
			text-transform: uppercase;
			padding-top: 16px;
		}
	}
}
.breadcrumb-item + .breadcrumb-item::before {
	color: $white;
}