

/*===========================
    5.LIMITED OFFER css 
===========================*/



.limited-offer-area{
	background: $theme-color;
	& .limited-offer-content{
		padding-top: 112px;
		@media #{$md} {
			padding-top: 40px;
		}
		& span{
			font-size: 20px;
			text-transform: uppercase;
			color: $white;
			padding-bottom: 15px;
		}
		& .title{
			font-size: 100px;
			color: $white;
			font-weight: 800;
			text-transform: uppercase;
			padding-bottom: 18px;
			@media #{$lg} {
				font-size: 86px;
			}
			@media #{$xs} {
				font-size: 70px;
			}
		}
		& a{
			background: $white;
			border: 0;
			color: $black;
			line-height: 58px;
			padding: 0 40px;

		}
		& p{
			color: $white;
			padding-top: 16px;
		}
	}
	& .limited-offer-thumb{
		margin-top: -105px;
		border-radius: 5px;
		overflow: hidden;
		& img{
			width: 100%;
		}
	}
}