

/*===========================
    12.PRODUCT SINGLE css 
===========================*/





.product-single-area{
	& .product-single-thumb-item{
		& .product-single-thumb{
			& .item{
				& img{
					width: 100%;
				}
			}
			& .slick-arrow{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				z-index: 99;
				height: 45px;
				width: 45px;
				text-align: center;
				line-height: 50px;
				background: $white;
				border-radius: 50%;
				color: $text-color;
				@include transition(0.3s);
				&:hover{
					background: $theme-color;
					color: $white;
				}
				&.prev{
					left: 15px;
				}
				&.next{
					right: 15px;
				}
			}
		}
	}
	& .product-single-content{
		& .product-single-content-item{
			& .title{
				font-size: 30px;
				color: $black;
				text-transform: uppercase;
				padding-top: 18px;
				padding-bottom: 15px;
				@media #{$xs} {
					font-size: 26px;
				}
			}
			& .price{
				& span{
					font-size: 22px;
					font-weight: 500;
					color: $theme-color;
					& span{
						font-size: 20px;
						color: #999;
						font-weight: 400;
						text-decoration: line-through;
						margin-left: 18px;
					}
				}
			}
			& ul{
				padding-top: 14px;
				padding-bottom: 25px;
				& li{
					display: inline-block;
					& i{
						font-size: 12px;
						color: #feae15;
						margin-right: 3px;
					}
					&:nth-child(4){
						 & i{
						 	color: #797979;
						 }
					}
					&:nth-child(5){
						 & i{
						 	color: #797979;
						 }
					}
					& span{
						font-size: 13px;
						color: $text-color;
						padding-left: 10px;
					}
				}
			}
		}
		& .product-quantity-item{
			border-top: 1px solid #e6e7e8;
			border-bottom: 1px solid #e6e7e8;
			padding: 30px 0;
			margin-top: 33px;
			& span{
				font-size: 16px;
				font-weight: 500;
				color: $black;
				margin-right: 14px;
			}
			& p{
				font-size: 13px;
				color: $theme-color;
				padding-left: 14px;
			}
		}
		& .product-btns{
			margin-top: 40px;
			padding-bottom: 13px;
			& ul{
				display: flex;
				& li{
					& a{
						&.main-btn{
							line-height: 60px;
							padding: 0 32px;
							border-radius: 40px;
							font-size: 13px;
							font-weight: 500;
							text-transform: uppercase;
							@media #{$xs} {
								padding: 0 16px !important;
								line-height: 50px;
							}
							&:hover{
								background: $black;
								color: $white;
								border-color: $black;

							}
							&.main-btn-2{
								background: $black;
								border-color: $black;
								color: $white;
								margin-right: 20px;
								padding: 0 50px;
								&:hover{
									background: $theme-color;
									border-color: $theme-color;
									color: $white;
								}
							}
						}
					}
				}
			}
			& .cart-btn{
				@media #{$lg} {
					margin-top: 30px;
				}
				@media #{$md} {
					margin-top: 30px;
				}
				@media #{$xs} {
					margin-top: 30px;
				}
				& ul{
					& li{
						& a{
							height: 60px;
							width: 60px;
							text-align: center;
							line-height: 64px;
							border: 1px solid #e7e8e9;
							border-radius: 50%;
							margin-left: 20px;
							font-size: 18px;
							color: $text-color;
							@include transition(0.3s);
							&:hover{
								background: $theme-color;
								color: $white;
								border-color: $theme-color;
							}
						}
					}
				}
			}
		}
		& .product-tags{
			& ul{
				& li{
					display: inline-block;
					margin-top: 20px;
					& span{
						font-weight: 500;
						color: $black;
					}
					& a{
						color: $text-color;
					}
				}
			}
		}
		& .product-social{
			padding-top: 24px;
			& ul{
				& li{
					display: inline-block;
					& span{
						font-weight: 500;
						color: $black;
						padding-right: 10px;
						@media #{$xs} {
							padding-right: 0;
						}
					}
					& a{
						height: 34px;
						width: 34px;
						line-height: 34px;
						text-align: center;
						border-radius: 50%;
						color: $white;
						border-radius: 50%;
						background: #337ff8;
						font-size: 13px;
						margin-left: 5px;
						@media #{$xs} {
							margin-left: 0;
							height: 30px;
							width: 30px;
							line-height: 32px;
						}
					}
					&:nth-child(2){
						& a{
							background: #24b4ff;
						}
					}
					&:nth-child(3){
						& a{
							background: #dd2591;
						}
					}
					&:nth-child(4){
						& a{
							background: #c8232c;
						}
					}
				}
			}
		}
	}
	& .product-tabs-btn{
		padding-top: 80px;
		& .nav{
			& li{
				& a{
					padding: 0 40px;
					line-height: 60px;
					background: #f3f3f3;
					color: $black;
					margin-right: 20px;
					font-size: 13px;
					font-weight: 500;
					text-transform: uppercase;
					@media #{$xs} {
						padding: 0 24px;
						margin-top: 10px;
					}
					&.active{
						background: $theme-color;
						color: $white;
						border-radius: 0;
					}
				}
			}
		}
		& .tab-content{
			& .product-text-content{
				margin-top: 32px;
				& p{
					padding-right: 20px;
					&.text{
						padding-top: 12px;
					}
				}
			}
		}
	}
}







.product-quantity{
    & button{
        width: 40px;
        height: 40px;
        padding: 0;
        background-color: $white;
        font-size: 18px;
        color: #838b97;
        border: 1px solid #e6e7e8;
        font-size: 11px;

        @media #{$xs}{
            width: 40px;
            height: 40px;
        }
    }
    & input{
        width: 40px;
        height: 40px;
        border: 1px solid #e6e7e8;
        padding: 0 10px;
        text-align: center;
        margin: 0 0;
        color: $black;
        margin: 0 10px;
        font-size: 16px;

        @media #{$xs}{
            height: 40px;
        }
    }
}






.similar-products-area{
	padding-bottom: 120px;
	& .similar-products-title{
		padding-bottom: 20px;
		& .title{
			font-size: 30px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}