

/*===========================
    8.servises css 
===========================*/




.services-area{
	background: $theme-color;
	padding: 42px 0 72px;
	& .single-services{
		position: relative;
		padding-left: 90px;
		@media #{$lg} {
			padding-left: 0;
		}
		& img{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			@media #{$lg} {
				position: static;
				transform: translateY(0);
				padding-bottom: 15px;
			}

		}
		& .title{
			font-size: 22px;
			font-weight: 500;
			color: $white;
		}
		& p{
			color: $white;
		}
		&.item-2{
			& img{
				left: 30px;
			}
		}
		&.item-3{
			& img{
				left: 30px;
			}
		}
		&.item-4{
			& img{
				left: 30px;
			}
		}
	}
}
