

/*===========================
    4.SHOP OFFER css 
===========================*/






.shop-offer-area{
	& .shop-offer-item{
		position: relative;
		overflow: hidden;
		& .shop-offer-overlay{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(255, 255, 255,.8);
			display: flex;
			align-items: flex-end;
			opacity: 0;
			@include transition(0.3s);
			& .shop-offer-content{
				padding-left: 50px;
				padding-bottom: 50px;
				@media #{$lg} {
					padding-left: 20px;
					padding-bottom: 20px;
				}
				@media #{$xs} {
					padding-left: 20px;
					padding-bottom: 20px;
				}
				& span{
					font-size: 30px;
					color: #ff4c4c;
					font-weight: 700;
				}
				& .title{
					font-weight: 700;
					font-size: 24px;
					color: $black;
					padding-top: 7px;
					padding-bottom: 21px;
				}
			}
		}
		& img{
			width: 100%;
			@include transition(0.3s);
		}
		&.active,
		&:hover{
			& .shop-offer-overlay{
				opacity: 1;
			}
			& img{
				transform: scale(1.1);
			}
		}
	}
}





