// Font Family

$heebo: 'Heebo', sans-serif;;


// Colors ---------------
$white: #fff;

$black: #2a2a2a;

$grey:#f3f3f3;

$theme-color: #0051d2;

$text-color: #5a5a5a;


// Heading Color
$heading-color: #2a2a2a;




// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


